* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.App {
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  max-width: 90%;
}

.btns-grid {
  width: 43%;
  display: flex;
  justify-content: space-between;
}
